# OS
.DS_Store

# IDE
.vscode/
.idea
.settings
.project
.history/

# Composer files
composer.phar
/vendor/
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
.php_cs
.php_cs.dist

# Generic temp/cache files
cache/
*.cache
runtime/
.php_cs.cache
.phpcs.cache
tmp/

# Log files
*.log
logs/

# PHPUnit
phpunit.xml.dist
.coverage/
.phpunit.result.cache
.phpunit.cache

# ENV files
.env
.env.*.local